@tailwind base;
@tailwind components;
@tailwind utilities;

.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.prose code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

.prose code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

.prose code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.prose figcaption[data-rehype-pretty-code-title] {
  @apply px-5 py-3 text-sm font-bold text-zinc-800 bg-zinc-200 rounded-t-lg dark:text-zinc-200 dark:bg-zinc-800;
}
.prose figcaption[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}
